.cartSummary {
    background: rgb(236, 235, 235);
    border: 1px solid lightgray;
    border-radius: 3px;
    height: 150px;
    padding: 20px;
    position: absolute;
    right: 50px;
    top: 180px;
    width: 300px;
}

.checkoutBtn {
    background: rgb(239, 195, 88);
    border: 1px solid rgb(97, 97, 97);
    border-radius: 3px;
    font-family: "Arial";
    font-size: 13px;
    padding: 5px;
    text-align: center;
    width: 100%;
}

.proceedToCheckout {
    color: black;
    text-decoration: none;
}

.proceedToCheckout:hover {
    color: black;
    text-decoration: none;
}

.subtotal {
    color: brown;
    font-size: 20px;
    font-weight: 600;
}

.subtotalTitle {
    font-size: 17px;
    line-height: 17px;
    margin: 0;
    padding: 0;
}