.cartSummary {
    background: rgb(236, 235, 235);
    border: 1px solid rgb(242, 242, 242);
    border-radius: 4px;
    height: 150px;
    padding: 12px 20px;
    position: absolute;
    right: 50px;
    top: 160px;
    width: 300px;
}

.checkoutBtn {
    background: rgb(239, 195, 88);
    border: 1px solid rgb(97, 97, 97);
    border-radius: 3px;
    font-family: "Arial";
    font-size: 13px;
    padding: 5px;
    text-align: center;
    width: 100%;
}

.payPalCaption {
    color: gray;
    font-size: 10px;
    text-align: center;
    width: 100%;
}

.primoImg {
    height: 20px;
}

.primoText {
    font-size: 13px;
}

.proceedToCheckout {
    color: black;
    text-decoration: none;
}

.proceedToCheckout:hover {
    color: black;
    text-decoration: none;
}

.subtotal {
    color: brown;
    font-size: 20px;
    font-weight: 600;
}

.subtotalTitle {
    font-size: 17px;
    line-height: 17px;
    margin: 0;
    padding: 0;
}

@media only screen and (max-width: 420px) {
    .cartSummary {
        background: #fff;
        border-radius: 0px;
        right: 0px;
        top: 100px;
        width: 100%;
    }
}