.cartSidebar {
    height: auto;
    position: absolute;
    top: 10px;
    width: 100vw;
}

@media only screen and (max-width: 420px) {
    .cartSidebar {
        min-height: 0px;
        position: absolute;
        top: 195px;
    }
}