.bannerBtn {
    background: black;
    border-radius: 0;
    font-size: 14px;
    font-weight: 600;
    padding: 5px;
    width: 130px;
}

.bannerPortfolioAd {
    cursor: pointer;
    height: 55px;
    overflow: hidden;
    padding-left: 140px;
    padding-top: 12px;
}

.portfolioLink {
    color: black;
    font-size: 17px;
    letter-spacing: 2px;
    margin-right: 30px;
    text-decoration: none;
}

.portfolioLink:hover {
    color: black;
    text-decoration: none;
}

@media only screen and (max-width: 420px) {

    .bannerBtn {
        display: none;
    }

    .bannerPortfolioAd {
        padding-left: 10px;
        padding-top: 15px;
    }

    .portfolioLink {
        font-size: 16px;
    }
}