.bookSuggestion {

}

.bookSuggestionList-order {
    border: 1px solid lightgray;
    border-radius: 4px;
    padding: 15px;
    height: auto;
    position: absolute;
    right: 107px;
    top: 226px;
    width: 300px;
}

.bookSuggestionList-cart {
    border: 1px solid lightgray;
    border-radius: 4px;
    padding: 15px;
    height: auto;
    position: absolute;
    right: 50px;
    top: 340px;
    width: 300px;
}

.suggestionBtn {
    cursor: pointer;
    font-size: 12px;
    padding: 3px;
}

.suggestionCover {
    height: 150px;
    margin-bottom: 20px;
    margin-right: 10px;
}

.suggestionDetails {
    display: inline-block;
    font-size: 13px;
    position: absolute;
}

.suggestionDetails p {
    margin: 0;
}

.suggestionHeader {
    font-size: 18px;
    font-weight: 400;
    line-height: 1.2;
}

.suggestionPrice {
    color: brown;
}

.suggestionTitle {

}