.about {
    margin-bottom: 50px;
    margin-left: auto;
    margin-right: auto;
    width: 800px;
}

.aboutHeader {
    font-size: 28px;
    font-weight: 400;
    line-height: 1.2;
    margin: 20px auto;
    width: 800px;
}

.aboutSection {
    margin-bottom: 25px;
    text-align: justify;
}

.curtisAmazon {
    margin: 0 auto;
    text-align: center;
}

.curtisAmazonImg {
    border: 1px solid black;
    height: 530px;
}

.aboutTitle {
    font-size: 18px;
}

.dependency,
.technology {
    display: inline-block;
    padding: 2px 8px;
    white-space: nowrap;
}

.dependencyList {
    background: rgb(242, 242, 242);
    border: 1px dashed rgb(222, 222, 222);
    padding: 0px 50px;
}

.technologyList {
    background: rgb(242, 242, 242);
    border: 1px dashed rgb(222, 222, 222);
    text-align: center;
}

@media only screen and (max-width: 420px) {
    .about {
        width: 80%;
    }

    .aboutHeader {
        width: 80%;
    }
}