.cart {
    min-width: 500px;
}

.cartContainer {
    height: auto;
    margin-bottom: 100px;
    margin-left: 25px;
    margin-right: 25px;
    margin-top: 15px;
    min-height: 700px;
    width: auto;
}

.cartIsEmpty {
    font-size: 28px;
    font-weight: 400;
    line-height: 1.2;
}

.cartIsEmptyNote {
    font-family: "Arial";
    font-size: 13px;
    min-width: 300px;
    width: calc(100vw - 400px);
}

#cartPriceLabel {
    font-size: 14px;
    margin-top: 30px;
    text-align: center;
}


#cartTitleLabel {
    font-size: 24px;
    font-weight: 600;
    min-width: 400px;
    padding-bottom: 12px;
    text-align: left;
    width: calc(100vw - 700px);
}

@media only screen and (max-width: 420px) {
    .cartContainer {
        margin: 15px 0px 100px;
        margin-left: 5px;
        margin-right: 0px;
        margin-top: 160px;
    }

    #cartTitleLabel {
        min-width: 310px;
        width: 310px;
    }
}
