.cart {
    min-width: 500px;
}

.cartContainer {
    height: auto;
    margin: 15px 250px;
    margin-bottom: 100px;
    max-width: 1000px;
    min-height: 700px;
    width: auto;
}

.cartIsEmpty {
    font-size: 28px;
    font-weight: 400;
    line-height: 1.2;
}

.cartIsEmptyNote {
    font-family: "Arial";
    font-size: 13px;
}


#cartTitle {
    font-size: 24px;
    font-weight: 600;
    padding-bottom: 12px;
    text-align: left;
}

@media only screen and (max-width: 420px) {

    .cartContainer {
        margin-left: 0px;
        margin-right: 0px;
    }
}
