.allBooks {
    max-width: 800px !important;
}

.caption {
    margin: 0;
    padding: 0;
}

.fiftyBooks {
    margin-top: 50px !important;
    max-width: 800px !important;
    width: 800px;
}

.gallery {
    margin-bottom: 50px;
    margin-left: auto;
    margin-right: auto;
    width: 800px;
}

.galleryImg {
    border: 1px solid lightgray;
    margin-top: 20px;
    max-width: 395px;
    padding: 0;
}

.left {
    float: left;
}

.right {
    float: right;
}
