.allBooks,
.politics {
    max-width: 800px !important;
}

.caption {
    margin: 0;
    padding: 0;
}

.chessPiece {
    height: 430px;
}

.fiftyBooks {
    margin-top: 50px !important;
    max-width: 800px !important;
    width: 800px;
}

.gallery {
    margin-bottom: 50px;
    margin-left: auto;
    margin-right: auto;
    width: 800px;
}

.galleryHeader {
    font-size: 28px;
    font-weight: 400;
    line-height: 1.2;
    margin: 20px auto;
    margin-bottom: -25px;
    width: 800px;
}

.galleryImg {
    border: 1px solid lightgray;
    border-radius: 4px;
    margin-top: 10px;
    max-width: 395px;
    padding: 0;
}

.left {
    float: left;
}

.placeholder {
    background: gray;
    background-size: 100%;
    height: 215px;
    margin-bottom: 0;
    margin-top: 20px;
    max-width: 395px !important;
    width: 395px;
}

.right {
    float: right;
}

@media only screen and (max-width: 768px) {
    .allBooks, 
    .fiftyBooks,
    .politics {
        width: 100% !important;
    }
    
    .gallery {
        width: 100%;
    }

    .galleryImg {
        width: 49%;
    }
}

@media only screen and (max-width: 1024px) {
    .galleryHeader {
        width: auto;
    }
}

@media only screen and (max-width: 420px) {   
    .gallery, 
    .galleryHeader {
        max-width: 100%;
        width: 100%;
    }

    .galleryImg {
        display: block;
        margin: 0px;
        margin-bottom: 5px;
        max-width: 100%;
        width: 100%;
    }

    .left, .right {
        float: none;
    }
}