.bookList {
    margin-top: 50px;
}

.searchBox {
    border: 1px solid gray;
    border-radius: 5px;
    padding: 5px;
    position: relative;
    width: 500px;
}

.searchForm {
    margin-left: 5px;
    margin-top: 5px;
    width: 100%;
}