.alreadyHaveAccount {
    font-size: 14px;
}

.congoLogo {
    left: 50%;
    position: absolute;
    top: 10px;
    transform: translate(-50%);
}

.createAccountAnchor {
    color: black;
    text-decoration: none;
}

.createAccountAnchor:hover {
    color: black;
    text-decoration: none;
}

.createAccountBtn {
    border: 1px solid darkgray;
    font-family: "Arial";
    font-size: 13px;
    width: 100%;
}

.disclaimer {
    font-size: 12px;
}

.formHeader {
    font-family: "Arial";
    font-size: 26px;
}

.formInput {
    border: 1px solid darkgray;
    border-radius: 3px;
    height: 30px;
    padding-left: 5px;
    width: 100%;
}

.formLabel {
    font-family: "Arial";
    font-size: 12px;
    font-weight: 700;
    margin: 0;
    margin-top: 15px;
}

.signup {
    border: 1px solid rgb(230, 227, 227);
    border-radius: 3px;
    height: auto;
    margin: 60px auto;
    padding: 25px;
    width: 350px;
}

.signupBtn {
    background: rgb(239, 195, 88);
    border: 1px solid rgb(131, 105, 41);
    border-radius: 2px;
    color: black;
    cursor: pointer;
    font-family: "Arial";
    font-size: 12px;
    height: 30px;
    margin-top: 20px;
    width: 100%;
}

.signupPage {
    border-bottom: 1px solid gray;
}

.newToCongo {
    color: rgb(92, 92, 92);
    display: block;
    font-size: 13px;
    text-align: center;
    width: 100%;
}