.countDown {
    background: rgb(255, 153, 0);
    border: 1px solid gray;
    color: black;
    font-size: 18px;
    padding: 5px;
    position: fixed;
    right: 50px;
    top: 205px;
    z-index: 500;
}