.countDown {
    background: rgb(242, 242, 242);
    border: 1px solid gray;
    border-radius: 4px;
    color: black;
    font-size: 16px;
    padding: 5px;
    position: fixed;
    right: 40px;
    top: 205px;
    z-index: 500;
}