.searchSuggestions {
    background: white;
    border: 1px solid lightgray;
    color: black;
    cursor: pointer;
    font-size: 13px;
    height: auto;
    line-height: 24px;
    margin-top: -1px;
    min-height: 20px;
    position: absolute;
    text-overflow: ellipsis;
    white-space: nowrap;
    width: 870px;
    z-index: 101;
}

@media only screen and (max-width: 1024px) {
    .searchSuggestions {
        overflow-y: hidden;
        text-overflow: ellipsis;
        width: 350px;
    }
}

@media only screen and (max-width: 420px) {
    .searchSuggestions {
        left: 7%;
        top: 125px;
        width: 73%;
    }
}