.hide {
  left: -320px;
  z-index: 1;

  -webkit-transition: opacity 0.3s linear, left 0.3s ease-out;
  -moz-transition: opacity 0.3s linear, left 0.3s ease-out;
    -o-transition: opacity 0.3s linear, left 0.3s ease-out;
       transition: opacity 0.3s linear, left 0.3s ease-out;
}

.show {
    display: inline;
    left: 0px;
    z-index: 100;

    -webkit-transition: opacity 0.3s linear, left 0.3s ease-out;
    -moz-transition: opacity 0.3s linear, left 0.3s ease-out;
      -o-transition: opacity 0.3s linear, left 0.3s ease-out;
         transition: opacity 0.3s linear, left 0.3s ease-out;
}

.showFiltersMenuBtn {
  cursor: pointer;
}

.slideInMenu {
  background: white;
  border-right: 1px solid lightgray;
  color: black;
  height: 100%;
  line-height: 2;
  margin-bottom: 5px;
  padding: 15px;
  padding-bottom: 5px;
  padding-left: 25px;
  position: absolute;
  top: 0;
  width: 250px;
}

.slideInMenu a {
  color: black;
}

.slideInMenuList {
  border-bottom: 1px solid rgb(242, 242, 242);
}

.slideInName {
  background: rgb(34, 46, 61);
  color: white;
  height: 40px;
  margin: 0;
  margin-left: -25px;
  margin-top: -15px;
  padding-left: 25px;
  padding-top: 2px;
  width: 250px;
}

.slideInTitle {
  font-size: 14px;
  font-weight: 600;
}