.hide {
  left: -320px;
  -webkit-transition: opacity 0.3s linear, left 0.3s ease-out;
  -moz-transition: opacity 0.3s linear, left 0.3s ease-out;
    -o-transition: opacity 0.3s linear, left 0.3s ease-out;
       transition: opacity 0.3s linear, left 0.3s ease-out;
}

/* .overlay {
  background: black;
  bottom: 0;
  height: 100vh;
  left: 0;
  opacity: 0.65;
  position: absolute;
  right: 0;
  top: 0;
  width: 100vw;
  z-index: 99;
} */

.show {
    left: 0px;

    -webkit-transition: opacity 0.3s linear, left 0.3s ease-out;
    -moz-transition: opacity 0.3s linear, left 0.3s ease-out;
      -o-transition: opacity 0.3s linear, left 0.3s ease-out;
         transition: opacity 0.3s linear, left 0.3s ease-out;
}

.slideInMenu {
  background: white;
  border-right: 1px solid lightgray;
  color: black;
  height: 100vh;
  line-height: 35px;
  padding: 15px;
  padding-left: 25px;
  position: absolute;
  top: 0;
  width: 250px;
  z-index: 100;
}

.slideInName {
  background: rgb(34, 46, 61);
  color: white;
  height: 50px;
  margin: 0;
  margin-left: -25px;
  margin-top: -15px;
  padding-left: 25px;
  padding-top: 6px;
  width: 250px;
}