.option {
    cursor: pointer;
    font-size: 12px;
}

.option:hover {
    color: brown;
}

.sidebar {
    border-right: 1px solid lightgray;
    color: black;
    font-size: 14px;
    height: 100vh;
    left: 0;
    padding: 10px;
    position: fixed;
    width: 210px;
}

.title {
    color: gray;
    font-size: 18px;
    font-weight: 700;
}

