.bold-false {
    font-weight: 400;
}

.bold-true {
    font-weight: 700;
}

.option {
    cursor: pointer;
    font-size: 14px;
}

.option:hover {
    color: brown;
}

.sidebar {
    border-right: 1px solid lightgray;
    color: black;
    font-size: 16px;
    height: 90vh;
    left: 0;
    line-height: 1.5;
    padding: 10px 0px;
    position: absolute;
    width: 210px;
}

@media only screen and (max-width: 420px) {
    .sidebar {
        display: none;
    }
}

