.book {
    border: 1px solid lightgray;
    cursor: pointer;
    display: inline-block;
    height: 150px;
    margin: 5px;
    padding: 5px;
    text-align: center;
    width: 102px;
}

.bookCover {
    height: 138px;
    margin: 0;
    padding: 0;
    width: 90px;
}

.bookTitle {
    font-size: 14px;
    font-weight: 700;
}

.bookAuthor {
    font-size: 12px;
}

.button {
    margin: 5px;
    width: 100px;
}

.detailBookCover {
    width: 300px;
}

#buttons {
    display: block;
    margin: 10px;
    text-align: center;
}