.addToCartBtn {
    background: rgb(241, 203, 112);
    border: 1px solid rgb(167, 134, 53);
    margin-bottom: 10px !important;
    vertical-align: middle;
}

.book {
    border: 1px solid lightgray;
    cursor: pointer;
    display: inline-block;
    height: 270px;
    margin: 5px;
    padding: 5px;
    text-align: center;
    width: 202px;
}

.book:hover {
    box-shadow: 0 0 0 2px rgba(52, 58, 64, .4);
}

.bookAuthor {
    font-size: 12px;
}

.bookCover {
    height: 258px;
    margin: 0;
    padding: 0;
    width: 180px;
}

.bookDescription {
    font-size: 12px;
    margin-bottom: 0px !important;
    min-width: 700px;
    white-space: normal;
}

.bookInfoBody {
    clear: both;
    display: block;
    min-width: 800px;
    max-width: 800px;
    padding-top: 15px;
    text-align: justify;
}

.bookInfoHeader {
    display: inline-block;
    margin-left: 10px;
    margin-right: 10px;
    min-width: 400px;
    max-width: 500px;
    padding-left: 15px;
    width: auto;
}

.bookStatus {
    color: rgb(206, 115, 50);
    font-family: "Arial";
    font-size: 17px;
    line-height: 1.255;
    margin-bottom: 0px;
    margin-left: 15px;
    margin-top: 3px;
    text-align: left;
}

.bookTitle {
    font-size: 24px;
    line-height: 38px;
    margin-bottom: 0px;
    overflow: hidden;
    padding: 0;
    text-overflow: ellipsis;
    white-space: normal;
}

.book-avail {
    color: #007600 !important;
}

.book-suggestion {
    border: none;
    cursor: pointer;
    display: inline-block;
    height: 150px;
    margin: 0;
    margin-bottom: 10px;
    margin-right: 8px;
    padding: 0;
    text-align: center;
    width: 100px;
}

.button {
    margin: 5px 0px;
    width: 90%;
}

#buyBox {
    border-radius: 4px;
    box-shadow: 0 0 0 4px rgba(0,0,0,.1);
    color: rgb(17, 17, 17);
    display: block;
    height: 180px;
    line-height: 19px;
    margin: 10px;
    position: absolute;
    right: 25px;
    text-align: center;
    top: 70px;
    width: 270px;
}

.buyBoxPrice {
    color: rgb(190, 44, 6);
    float: right;
    font-family: "Arial";
    font-size: 17px;
    font-weight: 400;
    line-height: 1.255;
    margin-right: 15px;
    margin-top: 15px;
    text-align: right;
}

.buyOption {
    background: rgb(253, 247, 241);
    border: 1px solid rgb(230, 117, 9);
    border-radius: 4px;
    cursor: pointer;
    display: inline-block;
    font-size: 13px;
    font-weight: 700;
    height: 51px;
    margin-bottom: 10px;
    margin-left: 25px;
    padding: 5px 5px;
    width: 115px;
}

.buyOptionList {
    margin-top: 15px;
    width: 100%;
}

.buyPrice {
    color: rgb(190, 44, 6);
    display: block;
}

.buyUsedDiv {
    float: left;
    margin-left: 15px;
    margin-top: 15px;
}

.buyUsedLabel {
    font-family: "Arial";
    font-size: 13px;
    font-weight: 700;
    margin-left: 10px;
}

.buyUsedRadioBtnImg {
    height: 17px;
    width: 17px;
}

.cover-suggestion {
    height: 150px;
    width: 100px;
}

.detailBookCover {
    border: 1px solid lightgray;
    float: left;
    width: 200px;
}

.detailBookImage {
    width: 220px;
}

.imageSource {
    color: gray;
    float: left;
    font-size: 10px;
    padding: 0;
    text-align: left;
}

.modalLoadingImg {
    padding: 15px;

    -webkit-animation:spin 3s linear infinite;
    -moz-animation:spin 3s linear infinite;
    animation:spin 3s linear infinite;
}

@-moz-keyframes spin { 100% { -moz-transform: rotate(360deg); } }
@-webkit-keyframes spin { 100% { -webkit-transform: rotate(360deg); } }
@keyframes spin { 100% { -webkit-transform: rotate(360deg); transform:rotate(360deg); } }

.primoImgBookSm {
    background-image: url("../../images/primo-yellow.png");
    background-repeat: no-repeat;
    background-size: 50px;
    height: 20px;
    margin-left: 43px;
    margin-top: -16px;
    width: 50px;
}

.primoImgBookLg {
    background-image: url("../../images/primo-white.png");
    background-repeat: no-repeat;
    background-size: 60px;
    height: 20px;
    margin-bottom: 15px;
    margin-left: 15px;
    margin-top: 50px;
    width: 65px;
}

.primoImgBookLgText {
    display: inline-block;
    font-size: 13px;
    height: 20px;
    margin-left: 10px;
    width: 200px;
}

.shipsFromCongo {
    color: black;
    font-family: "Arial";
    font-size: 13px;
    line-height: 19px;
    margin-bottom: 5px;
    margin-left: 15px;
    margin-top: 0px;
    text-align: left;
}

.styles_modal__gNwvD {
    max-width: 900px !important;
}

@media only screen and (max-width: 1200px) {
    .bookDescription {
        max-width: 100%;
        width: 100%;
    }
    
    .bookInfoBody {
        min-width: 75%;
        max-width: 100%;
    }
}

@media only screen and (max-width: 960px) {
    .styles_modal__gNwvD {
        display: flex;
        flex-direction: column;
        overflow-y: scroll;
    }

    #buyBox {
        margin-top: 10px;
        position: relative;
        right: 0;
        top: 0;
        width: 270px;
     }
}

@media only screen and (max-width: 420px) {
    .book {
        height: 200px;
        width: 142px;
    }

    .bookCover {
        height: 188px;
        width: 130px;
    }

    .bookDescription {
        min-width: 200px;
        max-width: 340px;
    }

    .bookInfoBody {
        min-width: 0px;
        max-width: 420px;
    }

    .bookInfoHeader {
        font-size: 16px;
        margin: 0px;
        min-width: 0px;
        padding: 0;
        top: 470px;
    }

    .buyOption {
        margin-left: 0px;
    }

    .styles_modal__gNwvD {
        display: flex;
        flex-direction: column;
        height: 100vh;
        overflow-y: scroll;
    }

    #buyBox {
        margin: 0px auto;
        margin-top: 10px;
        position: relative;
        right: 0;
        top: 0;
        width: 100%;
     }
}
