.orderAuthor {
    font-size: 12px;
    margin-bottom: 5px;
}

.orderCover {
    height: 150px;
    margin-right: 10px;
    width: 100px;
}

.orderDetails {
    display: inline-block;
}

.orderHeader {
    font-size: 18px;
}

.orderPrice {
    color: brown;
    font-size: 12px;
}

.orderTitle {
 font-size: 14px;
}

.pastOrderItem {
    margin-bottom: 15px;
}