.orderAuthor {
    font-size: 12px;
}

.orderCover {
    height: 150px;
    margin-right: 10px;
}

.orderPrice {
    color: brown;
    font-size: 12px;
}

.orderTitle {
 font-size: 14px;
}