.cartAuthor {
    display: inline-block;
    font-size: 13px;
}

.cartCover {
    height: 150px;
    margin-right: 10px;
}

.cartHeader {
    display: flex;
    flex-direction: row;
}

.cartItem {
    border: 1px solid lightgray;
    border-left: 0px;
    border-right: 0px;
    display: flex;
    flex-direction: row;
    font-family: "Arial";
    height: 175px;
    margin-top: 10px;
    min-height: 75px;
    padding: 10px 10px;
    width: calc(100vw - 450px);
}

.cartItemInfo {
    min-width: 400px;
    width: calc(100vw - 700px);
}

.cartPrice {
    color: brown;
    font-size: 18px;
    font-weight: 600;
    text-align: center;
}

.cartTitle {
    display: inline-block;
    font-size: 22px;
    font-weight: 400;
    margin-left: 5px;
    padding: 0;
}

.cartTitle:hover {
    color: brown;
}

.deleteFromCart {
    color: rgb(8, 102, 190);
    cursor: pointer;
    font-family: "Arial";
    font-size: 12px;
    margin-left: 118px;
    margin-top: -20px;
}

@media only screen and (max-width: 420px) {
    .cartItemInfo {
        min-width: 100px;
    }
}