.logo {
    font-family: "Arial";
    font-size: 30px;
    margin-top: -5px;
}

.logout {
    cursor: pointer;
}

.navbar {
    height: 100px;
}

.navbar-nav {
    background: none;
    position: absolute;
    right: 200px;
}

#navbarMenu {
    font-family: "Arial";
    font-size: 14px;
    font-weight: 700;
    margin: 70px 0px 5px 0px;
}

.searchBox {
    border: 1px solid gray;
    border-right: none;
    border-radius: 5px 0px 0px 5px;
    height: 38px;
    min-width: 400px;
    max-width: 700px;
    padding: 5px;
    width: auto;
}

.searchBox:focus {
    border: 2px solid gold;
}

.searchBtn {
    background: rgb(253, 188, 106);
    border: 1px solid gray;;
    border-left: none;
    border-radius: 0px 5px 5px 0px;
    height: 38px;
    position: absolute;
    width: 50px;
}

.searchForm {
    margin: 10px 100px;
    width: 1000px;
}

.shoppingCart {
    margin-top: -6px;
}