.backToMainMenu {
    font-size: 14px;
    font-weight: 600;
}

.filterOptions-sidebar,
.filterOptions-slideIn {
    background: white;
    border-right: 1px solid lightgray;
    color: black;
    height: auto;
    line-height: 1.5;
    padding: 10px 20px;
    position: absolute;
    top: 0;
}

.filterOptions-sidebar {
    width: 210px;
}

.filterOptions-slideIn {
    font-size: 13px;
    width: 250px;
}

.filter-show {
    left: 0px;

    -webkit-transition: opacity 0.3s linear, left 0.3s ease-out;
    -moz-transition: opacity 0.3s linear, left 0.3s ease-out;
      -o-transition: opacity 0.3s linear, left 0.3s ease-out;
         transition: opacity 0.3s linear, left 0.3s ease-out;
}

.filter-hide {
    left: -250px;

    -webkit-transition: opacity 0.3s linear, left 0.3s ease-out;
    -moz-transition: opacity 0.3s linear, left 0.3s ease-out;
      -o-transition: opacity 0.3s linear, left 0.3s ease-out;
         transition: opacity 0.3s linear, left 0.3s ease-out;
}