.filterOptions {
    background: white;
    border-right: 1px solid lightgray;
    color: black;
    height: auto;
    line-height: 1.3;
    padding: 15px;
    padding-left: 25px;
    position: absolute;
    top: 0;
    width: 250px;
}

.filter-show {
    left: 0px;

    -webkit-transition: opacity 0.3s linear, left 0.3s ease-out;
    -moz-transition: opacity 0.3s linear, left 0.3s ease-out;
      -o-transition: opacity 0.3s linear, left 0.3s ease-out;
         transition: opacity 0.3s linear, left 0.3s ease-out;
}

.filter-hide {
    left: -250px;

    -webkit-transition: opacity 0.3s linear, left 0.3s ease-out;
    -moz-transition: opacity 0.3s linear, left 0.3s ease-out;
      -o-transition: opacity 0.3s linear, left 0.3s ease-out;
         transition: opacity 0.3s linear, left 0.3s ease-out;
}